.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  background-color: rgba(35, 33, 40, 0.3);
  backdrop-filter: blur(16px);
  margin-bottom: 8px;
}
.hero-banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
