<link rel="stylesheet" href="{{ 'sections/styles/footer.css' | asset_url }}">
<footer>
  <div class="logo-copyright">
    <div class="logomini-footer-container">
      <div class="logomini-footer">
        <img src="{{ 'logos/shufflemini.svg' | asset_url }}" alt="shuffle mini logo">
      </div>
      <div class="separator-footer">
        <p>|</p>
      </div>
      <div class="name-logo-footer">
        <p>STORE</p>
      </div>
    </div>
    <div class="copyright-text"></div>
  </div>
  <div class="payment-menu">
    <div class="menu-primary"></div>
    <div class="menu-secondary"></div>
    <div class="payment"></div>
  </div>
  <div class="socials-form">
    <div class="form"></div>
    <div class="socials"></div>
  </div>
</footer>