<section>
  {% render 'tape'
    ,
 height: '80px'
    ,
 marquee_text: settings['tape-center'].settings.text_tape_center
    ,
 background_color: '#ffffff00'
    ,
 text_color: '#ffffff'
    ,
 icon_size: '75px'
    ,
 font_family: 'var(--font-countach)'
    ,
 font_size: '88px'
    ,
 font_weight: '700'
    ,
 gradient_color: '#232128'
    ,
 animation_speed: '1500s' %}
<!-- Más rápido -->
</section>